/* Your Styling */
body {
  background: url(../img/background.png);
}

a {
  background: white;
  color: teal;
  text-decoration: none;
  height: 2em;
  line-height: 2em;
  padding: 1em;
  text-transform: uppercase;
  transition: letter-spacing .5s;
}

a:hover {
  letter-spacing: .25em;
}

li {
  list-style: none;
  display: inline-block;
}

  h1 {
  color: teal;
  font-size: 4em;
  -webkit-animation: fadein 2s both;
   animation: fadein 2s both;
   font-family: 'Satisfy', cursive;
  text-align: center;
}
  
  h2 {
    font-family: 'Satisfy', cursive;
    color: teal;
  }
  
  p {
    font-family: 'Dosis', sans-serif;
  }

img {
  float: left;
  height:auto;
  width: 20.83%;
  border-radius: 180px;
}

 h6 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
  
  h6::before {
    content:'©';
    padding-right: .25em;
}
  }  

#me {
}
/* Keyframe Animation */
@-webkit-keyframes fadein {
  0% { 
  transform: scale(.5) translateY(-1em) ;
  }
  100% { 
  transform: translateY(0em) 
  }
}

@keyframes fadein {
  0% { 
  opacity: .3;
  transform: translateY(-1em);
  }
  100% { 
  transform: translateY(0em) 
  }
}
